
body {
  color: #40514E;
  margin: 0;
  text-align: center;
font-family: 'Merriweather', serif;

}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Meow Script', cursive;
  color: #92A9BD;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #92A9BD;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #7C99AC;
  padding-bottom: 20px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #FFEFEF;
  border-width: 7px;
  width: 5%;
  margin: 50px auto;
}

a {
  color: #D3DEDC;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}

a:hover {
  color: #7C99AC;
}

p {
  line-height: 2;
}

.topcontainer {
  background-color: #D3DEDC;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #D3DEDC;
  padding-top: 40px;
  padding-bottom: 40px;
}

.bottom-container {
  background-color: #92A9BD;
  padding: 50px 0 20px;
}

.student {
  text-decoration: underline;
}

.profile {
  line-height: 2;
  margin: 100px auto 100px auto;
}

.intro {
  width: 30%;
  margin: auto;
}
.skills {
  padding-top: 40px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-pic {
  width: 12%;
  height: auto;
  margin: auto;
}


.positive-img {
  width: 25%;
  height: auto;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}


.puzzle-img {
  width: 25%;
  height: auto;
  margin-left: 30px;
  border-radius: 50%;
  float: right;
}

.contact-me {
  padding: 40px;
}
.byline {
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  background: #92A9BD;
  background-image: -webkit-linear-gradient(top, #92A9BD, #7C99AC);
  background-image: -moz-linear-gradient(top, #92A9BD, #7C99AC);
  background-image: -ms-linear-gradient(top, #92A9BD, #7C99AC);
  background-image: -o-linear-gradient(top, #92A9BD, #7C99AC);
  background-image: linear-gradient(to bottom, #92A9BD, #7C99AC);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #FFEFEF;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #7C99AC;
  background-image: -webkit-linear-gradient(top, #7C99AC, #92A9BD);
  background-image: -moz-linear-gradient(top, #7C99AC, #92A9BD);
  background-image: -ms-linear-gradient(top, #7C99AC, #92A9BD);
  background-image: -o-linear-gradient(top, #7C99AC, #92A9BD);
  background-image: linear-gradient(to bottom, #7C99AC, #92A9BD);
  text-decoration: none;
}
.footer-link {
  text-decoration: none;
  font-weight:bold;
}

.sig {
  color: #FFEFEF;
  font-size: 0.75rem;
  padding: 20px 0;
}
